body{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }
footer{
    flex: 1 0 auto;
  }

  /* label color */
     .input-field label {
       color: #000;
     }
     /* label focus color */
     .input-field input[type=text]:focus + label {
       color: #000;
     }

     .input-field input[type=password]:focus + label {
       color: #000;
     }
     /* label underline focus color */
     .input-field input[type=text]:focus {
       border-bottom: 1px solid #000;
       box-shadow: 0 1px 0 0 #000;
     }
     .input-field input[type=password]:focus {
       border-bottom: 1px solid #000;
       box-shadow: 0 1px 0 0 #000;
     }

     /* valid color */
     .input-field input[type=text].valid {
       border-bottom: 1px solid #000;
       box-shadow: 0 1px 0 0 #000;
     }
     [type="checkbox"].filled-in:checked+label:after{
       border: 2px solid #000;
       background-color:#000
     }
     /* invalid color */
     .input-field input[type=text].invalid {
       border-bottom: 1px solid #000;
       box-shadow: 0 1px 0 0 #000;
     }
     /* icon prefix focus color */
     .input-field .prefix.active {
       color: #000;
     }
